__pycache__
.DS_Store

CountryProfiles/data/change.csv
CountryProfiles/data/country.gpkg
CountryProfiles/data/fog_glacier_area.csv
CountryProfiles/data/front_variation.csv
CountryProfiles/data/glacier.csv
CountryProfiles/data/glims_point.gpkg
CountryProfiles/data/mass_balance_overview.csv
CountryProfiles/data/mass_balance.csv
CountryProfiles/data/reconstruction_front_variation.csv
CountryProfiles/data/rgi7.gpkg
CountryProfiles/data/wgi.csv
CountryProfiles/data/WGMS-FoG-2015-11-A-GENERAL-INFORMATION.csv
CountryProfiles/data/WGMS-FoG-2015-11-D-CHANGE.csv
CountryProfiles/data/WGMS-FoG-2015-11-E-MASS-BALANCE-OVERVIEW.csv
CountryProfiles/data/WGMS-FoG-2015-11-RR-RECONSTRUCTION-FRONT-VARIATION.csv

GlacierProfiles/data/bibliography.csv
GlacierProfiles/data/front_variation.csv
GlacierProfiles/data/glacier_country.csv
GlacierProfiles/data/glacier_name.csv
GlacierProfiles/data/glacier_outline_all.csv
GlacierProfiles/data/glacier_photo.csv
GlacierProfiles/data/glacier.csv
GlacierProfiles/data/mass_balance.csv
GlacierProfiles/data/state.csv
GlacierProfiles/data/team_member.csv
GlacierProfiles/data/wgms_outlines.*
